.DS_Store
Upgrade/Upgrade.xcodeproj/project.xcworkspace/xcshareddata/
Upgrade/Upgrade.xcodeproj/project.xcworkspace/xcuserdata/
Upgrade/Upgrade.xcodeproj/xcuserdata/
/Upgrade/Pods/Pods.xcodeproj/xcuserdata
UserInterfaceState.xcuserstate
/Upgrade/Upgrade/GoogleService-Info.plist
/Upgrade/Upgrade.xcworkspace/xcuserdata
Pods/Pods.xcodeproj/xcuserdata/
/Upgrade.xcodeproj/xcuserdata/arashnrim.xcuserdatad/xcschemes/xcschememanagement.plist
