.DS_Store
Upgrade/Upgrade.xcodeproj/project.xcworkspace/xcshareddata/
Upgrade/Upgrade.xcodeproj/project.xcworkspace/xcuserdata/
Upgrade/Upgrade.xcodeproj/xcuserdata/
/Upgrade/Pods/Pods.xcodeproj/xcuserdata
UserInterfaceState.xcuserstate
